<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/source/style.css">
    <script src="/source/main.js" defer></script>
</head>
<body>
<h2>SignUp</h2>
<form action="/token" method="post">
    <label for="">
        Username
        <input type="text" name="username">
    </label>

    <label for="">
        Password
        <input type="text" name="password">
    </label>
    <button type="submit">Login</button>
</form>

</body>
</html>