[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gino = {extras = ["pg", "startlette"], version = "*"}
fastapi = "*"
uvicorn = "*"
alembic = "*"
psycopg2 = "*"
pyyaml = "*"
bcrypt = "*"
python-jose = "*"
python-multipart = "*"
passlib = "*"

[dev-packages]

[requires]
python_version = "3.9"
